.navBarContainer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 40px;
    align-items: center;
    width: 80vw;
}

.navBarContainer>div {
    margin: 6px;
}

.navBarContainer>div:hover {
    cursor: pointer;
    color: #49b96d;
}

@media (max-width:600px) {
    .navBarContainer {
        margin-bottom: 10px;
    }
}