.container {
  padding: 0 4rem;
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr .75fr;
  height: 100vh;
  justify-content: center;
}

.aboutMe {
  font-size: 115px;
  font-weight: 900;
  font-family: 'Helvetica';
}

.aboutMeSection {
  font-size: 15px;
}

.meImage {
  border-radius: 10%;
  filter: brightness(99%) contrast(143%) hue-rotate(193deg) saturate(5%) invert(12%) url(#svgTint);
  /* filter: grayscale(.5); */
}

.meImage:hover {
  filter: grayscale(0);
  cursor: pointer;
}

.homeSection {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.buttonContainer>button:hover {
  background-color: #00643b;

}

@media (max-width: 600px) {
  .mainContainer {
    display: flex;
    align-items: center;
  }

  .aboutMe {
    font-size: 55px;
    font-weight: 900;
    font-family: 'Helvetica';

  }

  .container {
    padding: 0 2rem;
  }
}